#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#container {
    display: flex;
}

tr {
    display: flex;
}

tc {
    width: 30px;
    height: 30px;
    border: 1px black;
    border-style: solid;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100px;
    font-size: 48px;
}